.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    background-color: #2D36C4;
    padding-top: 10px;
    padding-bottom: 10px;

}

.logo {
    height: 100%;
}

.list-nav {
    display: flex;
    list-style: none;
    gap: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}

.carrito {
    color: #F1F105;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #F1F105;
    
}

.section-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    background-color: #F1F105;
    
}

.img-mono {
    width: 18%;
    border-radius: 120px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.div-inicio {
    width: 25%;
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 40px;
}

.div-inicio button {
    width: 95%;
    height: 50%;
    background-color:#ffffff;
    color: #2D36C4;
    font-weight: 600;
    font-size: 1em;
    border-radius: 20px;
    box-shadow: -1px 3px 47px 14px rgba(45,54,196,1);
    margin-top: 25px;
}

.h1 {
    font-style: italic;
    display: flex;
    justify-content: center;
    background-color: #2D36C4;
    color: #F1F105;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.2em;
}

.parrafo {
    color: #2D36C4;
    font-size: 1.1em;
}

.section2 {
    display: flex;
    align-items: center;
    height: 18vh;
    background-color: #2D36C4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-segundo {
    color: #F1F105;
    font-size: 1.1em;
    font-weight: 600;
    padding: 40px;
}